<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/style.css"/>
    <script src="main.js"></script>

</head>
<body>
    <div class="wrapper">
        <div>
            <center>
                <h2>
                Home | <a href="/projects">Projects</a> | <a href="/contact">Contact</a>
                </h2>
            </center>
        </div>
        <div>
            <center>
            <h1>About Me</h1>
            </center>
        </div>

        <section class="container">
            <div class="one">
                <img src="~/images/Ninjahead.png" width="200px">
                <span>
                <h2>Gino Benitez</h2>
                <p>I like stuff!</p>
                </span>
            </div>
            <div class="two">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
            </div>
        </section>
</body>
</html>