<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/style.css"/>
    <script src="main.js"></script>

</head>
<body>
    <div class="wrapper">
        <div>
            <center>
                <h2>
                <a href="/">Home</a> | Projects | <a href="/contact">Contact</a>
                </h2>
            </center>
        </div>
        <div>
            <center>
            <h1>Here are some projects of mine!</h1>
            </center>
        </div>
        <div style="overflow-y: scroll; height:400px; text-align: center; border: solid 1px green">
            @for (int i = 0; i < 10; i++)
            {
            <div style="display: inline-block; width: 50%;"><img src="~/images/Ninjahead.png" width="100px" style="margin-top: 30px; position: relative; top:25px; right: 20px;"> <h2 style="display: inline-block;">Cool thing!<p>I made a website and it's quite fun.</p></h2></div>
            }
        </div>
    </div>
</body>
</html>